{% extends 'base.html' %}
{% block content %}


<div class="container-fluid mt-5" style="background-color: rgb(102, 48, 48); color: beige;">
    <div class="row g-2">
        {% if user.is_authenticated %}
        <div class="col-xl-6 col-lg-12">
            <div class="form_sub ps-5">
                <h1 class="mb-4">Write Blog</h1>
                <form method="POST">
                    {%csrf_token%}
                    {{ form.as_p}}
                    <button type="submit" class="btn btn-primary">Post</button>
                </form>
            </div>
        </div>
        {% else %}
        <div>
            <h3>“Sorry, You Are Not Allowed to Access This Page” !</h3>
            <br/>
            <h5>Please <button class="btn btn-outline-success "><a class="nav-link" href="{% url 'register' %}">Signup</a></button> Or <button class="btn btn-outline-success "><a class="nav-link" href="{% url 'login' %}">Login</a></button> To Access This Page</h5>
            
            
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

